{{> head}}
{{> top}}
<main class="main">
   {{#post}}
      <div class="main__left">
         <div class="main__left-inner">
            <div class="main__left-content">
                {{#if @customHTML.beforePost}}
            <div class="banner banner--before-post">
               {{{@customHTML.beforePost }}}
            </div>
         {{/if}} 
               <article class="post">
                  <header>
                     <h1 class="post__title">
                        {{title}}
                     </h1>
                  </header>
                  {{#if @config.post.displayFeaturedImage}}
                     {{#featuredImage}}
                        {{#if url}}
                           <figure class="post__featured-image">
                              <img
                                 src="{{url}}"
                                 {{#if @config.site.responsiveImages}}
                                    {{responsiveImageAttributes 'featuredImage' srcset sizes}}
                                 {{/if}}
                                 {{ lazyload "eager" }}
                                 height="{{height}}"
                                 width="{{width}}"
                                 alt="{{alt}}">                             
                              {{#checkIfAny caption credits}}
                                 <figcaption>
                                    {{caption}}
                                    {{credits}}
                                 </figcaption>
                              {{/checkIfAny}}
                           </figure>
                        {{/if}}
                     {{/featuredImage}}
                  {{/if}}
                  <div class="post__entry">                   
                     {{{text}}}                  
                  </div>
                  {{#checkIfAny @config.post.displayDate @config.post.displayAuthor @config.post.displayUpdatedDate @config.post.displayShareButtons @config.post.displayTags @config.post.displayAuthorBio}}
                     <footer>
                        {{#checkIfAny @config.post.displayDate @config.post.displayAuthor @config.post.displayUpdatedDate @config.post.displayShareButtons}}
                           <div class="post__footer-top">
                              {{#checkIfAny @config.post.displayDate @config.post.displayAuthor @config.post.displayUpdatedDate}}
                                 <div class="post__meta">
                                    {{#if @config.post.displayDate}}

                                       <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                                          {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                             {{date createdAt @config.custom.formatDate}}
                                          {{else}}
                                             {{date createdAt @config.custom.formatDateCustom}}
                                          {{/checkIf}}
                                       </time>

                                    {{/if}}
                                    {{#if @config.post.displayAuthor}}
                                       {{#author}}

                                          {{ translate 'post.publishedBy' }}

                                          <a href="{{url}}" rel="author" title="{{name}}">
                                             {{name}}
                                          </a>

                                       {{/author}}
                                    {{/if}}
                                    {{#if @config.post.displayUpdatedDate}}
                                       <span>
                                          {{ translate 'post.updated' }}

                                          <time datetime="{{date modifiedAt 'YYYY-MM-DDTHH:mm'}}">
                                             {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                                {{date modifiedAt @config.custom.formatDate}}
                                             {{else}}
                                                {{date modifiedAt @config.custom.formatDateCustom}}
                                             {{/checkIf}}
                                          </time>
                                       </span>
                                    {{/if}}

                                 </div>
                              {{/checkIfAny}}

                              {{#if @config.post.displayShareButtons}}
                                 {{#checkIfAll @plugins.socialSharing @plugins.socialSharing.state}}
                                    <div class="post__share">
                                       <button
                                          class="post__share-button js-post__share-button"
                                          aria-label="{{ translate 'partials.shareButtons.shareWith' }}">
                                          <svg width="32" height="32">
                                             <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#share"></use>
                                          </svg>
                                       </button>
                                       <div class="post__share-popup js-post__share-popup">
                                          {{{@customSocialSharing}}}
                                       </div>
                                    </div>
                                 {{else}}
                                    <div class="post__share">
                                       <button
                                          class="post__share-button js-post__share-button"
                                          aria-label="{{ translate 'partials.shareButtons.shareWith' }}">
                                          <svg width="32" height="32">
                                             <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#share"></use>
                                          </svg>
                                       </button>
                                       <div class="post__share-popup js-post__share-popup">
                                          {{> share-buttons}}
                                       </div>
                                    </div>
                                 {{/checkIfAll}}          
                              {{/if}}
                           </div>
                        {{/checkIfAny}}
                        {{#checkIfAny @config.post.displayTags @config.post.displayAuthorBio}}
                           <div class="post__footer-bottom">
                              {{#if @config.post.displayTags}}
                                 {{#if tags}}
                                    <ul class="post__tag">
                                       {{#each tags}}
                                          <li>
                                             <a href="{{url}}">
                                                {{name}}
                                             </a>
                                          </li>
                                       {{/each}}
                                    </ul>
                                 {{/if}}
                              {{/if}}

                              {{#if @config.post.displayAuthorBio}}
                                 <div class="post__bio">
                                    {{#author}}
                                       {{#if avatar}}
                                          <img 
                                             src="{{avatarImage.url}}" 
                                             {{ lazyload "lazy" }}
                                             height="{{avatarImage.height}}"
                                             width="{{avatarImage.width}}"
                                             alt="{{avatarImage.alt}}">
                                       {{/if}}
                                       
                                       <div>
                                          <a href="{{url}}">
                                             <strong>{{name}}</strong>
                                          </a>
                                          {{{description}}}
                                       </div>
                                    {{/author}}
                                 </div>
                              {{/if}}
                           </div>
                        {{/checkIfAny}}
                     </footer>
                  {{/checkIfAny}}
               </article>

               {{#if @config.post.displayPostNavigation}}
                  {{#checkIfAny ../previousPost ../nextPost}}
                     <nav>
                        <ul class="posts-nav">
                           {{#../previousPost}}
                              <li class="posts-nav__prev">
                                 <span>{{ translate 'post.previousPost' }}</span>
                                 <a href="{{url}}" class="invert" rel="prev" title="{{title}}">
                                    {{title}}
                                 </a>
                              </li>
                           {{/../previousPost}}
                           {{#../nextPost}}
                              <li class="posts-nav__next">
                                 <span>
                                    {{ translate 'post.nextPost' }}</span>
                                 <a href="{{url}}" class="invert" rel="next" title="{{title}}">
                                    {{title}}
                                 </a>
                              </li>
                           {{/../nextPost}}
                        </ul>
                     </nav>
                  {{/checkIfAny}}
               {{/if}}
               
               {{#if @config.post.displayComments}}
                  <div class="post-comments" id="post-comments">                    
                     {{{@commentsCustomCode}}}
                  </div>
               {{/if}}

            </div>
            {{#if @config.post.displayToc}}
               <aside class="main__left-aside">
                  <div class="main__left-aside__inner">
                     <h3>{{ translate 'post.tocLabel' }}</h3>
                     <nav class="aside-toc" id="aside-toc"></nav>
                  </div>
               </aside>
            {{/if}}
         </div>
      </div>
   {{/post}}

   {{> sidebar}}

</main>

{{> footer}}
