{{> head}}
{{> top}}
<main class="main page page--tag">
   <div class="main__left">
      <div class="main__left-inner">
         <div class="main__left-content">
             {{#tag}}
               <article>
                  <header class="page__header">
                     <h1 class="page__title">
                        {{name}}
                        {{#if tagViewConfig.displayPostCounter}}<sup>({{postsNumber}})</sup>{{/if}}
                     </h1>
                     {{#if tagViewConfig.displayDescription}} 
                        {{#if description}}
                           <div class="page__desc">
                              {{{description}}}
                           </div>
                        {{/if}}
                     {{/if}}
                  </header>
                  {{#if tagViewConfig.displayPostList}} 
                     <ul class="list">
                        {{#each ../posts}}
                           <li class="list__item {{#checkIfNone @config.custom.listingTagExcerpt}}list__item--thin{{/checkIfNone}}">
                              <h3 class="list__item-title">
                                 <a href="{{url}}" class="invert">
                                    {{title}}
                                 </a>
                              </h3>
                              <div class="list__item-meta">

                                 {{#if @config.custom.listingTagDate}}
                                    <span>
                                       {{ translate 'post.published' }}
                                       <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                                          {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                             {{date createdAt @config.custom.formatDate}}
                                          {{else}}
                                             {{date createdAt @config.custom.formatDateCustom}}
                                          {{/checkIf}}
                                       </time>
                                    </span>
                                 {{/if}}

                                 {{#if @config.custom.listingTagUpdate}}
                                    <span>
                                       {{ translate 'post.updated' }}
                                       <time datetime="{{date modifiedAt 'YYYY-MM-DDTHH:mm'}}">
                                          {{#checkIf @config.custom.formatDate '!=' 'custom'}}
                                             {{date modifiedAt @config.custom.formatDate}}
                                          {{else}}
                                             {{date modifiedAt @config.custom.formatDateCustom}}
                                          {{/checkIf}}
                                       </time>
                                    </span>
                                 {{/if}}

                                 {{#if @config.custom.listingTagAuthor}}
                                    {{#author}}
                                       <a href="{{url}}" class="invert">{{name}}</a>
                                    {{/author}}
                                 {{/if}}

                              </div>

                              {{#if @config.custom.listingTagExcerpt}}
                                 {{#if hasCustomExcerpt}}
                                    {{{ excerpt }}}
                                 {{else}}
                                    <p class="list__item-excerpt">{{{ excerpt }}}</p>
                                 {{/if}}
                              {{/if}}
                           </li>
                        {{/each}}
                     </ul>
                  {{/if}}
               </article>
               {{#if tagViewConfig.displayPostList}} 
                  {{> pagination}}
               {{/if}}
            {{/tag}}
         </div>
      </div>
   </div>
   {{> sidebar}}
</main>
{{> footer}}
