<footer class="footer">
   <div class="footer__wrap">
      <div class="footer__inner">
          {{#if menus.footerMenu}}
            <ul class="footer__nav">
               {{> simple-menu menus.footerMenu}}
            </ul>
         {{/if}}
         <div class="footer__copy">
            {{{@config.custom.copyrightText}}}
         </div>         
      </div>
   </div>
</footer>

{{#if @config.post.displayReadingProgressBar}}
   <div class="post__progress" id="js-post__progress" aria-hidden="true"></div>
{{/if}}

{{#if @config.custom.newsletter}}
       {{> newsletter}}
{{/if}}

<script>
   window.publiiThemeMenuConfig = {    
        mobileMenuMode: '{{@config.custom.mobilemenu}}',        
        submenuWidth: 300,        
        mobileMenuExpandableSubmenus: {{@config.custom.mobilemenuExpandableSubmenus}},
        isHoverMenu: false,
        ariaButtonAttribute: 'aria-expanded',
   };
</script>

{{#checkIfAny @config.post.displayToc}}
    <script src="{{js "html-contents.min.js"}}" defer></script>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            htmlContents('#aside-toc', {
                area: '.post__entry',
                top: {{@config.custom.tocMinHeader}},
                bottom: {{@config.custom.tocMaxHeader}},
                listType: 'o',
                filter: function(arr) {
                    return !arr.matches('.noOutline')
                },
                addIds: true,
                addLinks: true
            });

            setTimeout(function() {
                handleActiveClass('#aside-toc');
            }, 0);
        })
    </script>
{{/checkIfAny}}

{{#getPost @config.custom.frontPost}}
   {{#is "index"}}
      {{#if postViewConfig.displayToc}}
         <script src="{{js "html-contents.min.js"}}" defer></script>
         <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                  htmlContents('#aside-toc', {
                     area: '.post__entry',
                     top: {{@config.custom.tocMinHeader}},
                     bottom: {{@config.custom.tocMaxHeader}},
                     listType: 'o',
                     filter: function(arr) {
                        return !arr.matches('.noOutline')
                     },
                     addIds: true,
                     addLinks: true
                  });

                  setTimeout(function() {
                     handleActiveClass('#aside-toc');
                  }, 0);
            })
         </script>
      {{/if}}
   {{/is}}
{{/getPost}}

<script defer src="{{js "scripts.min.js"}}"></script>

{{#if @config.site.mediaLazyLoad}}
    <script>        
        var images = document.querySelectorAll('img[loading]');

        for (var i = 0; i < images.length; i++) {
            if (images[i].complete) {
                images[i].classList.add('is-loaded');
            } else {
                images[i].addEventListener('load', function () {
                    this.classList.add('is-loaded');
                }, false);
            }
        }
    </script>
{{/if}}

{{#if @config.custom.pagePrefetching}}
   <script defer src="{{js "quicklink.umd.js"}}"></script>
   <script>
      window.addEventListener('load', () =>{
      quicklink.listen();
      });
   </script>
{{/if}}

{{#is "post"}}
   {{#post}}
      {{#if hasGallery}}
          {{> photoswipe}}
      {{/if}}
  {{/post}}
{{/is}}

{{#if @config.custom.frontPost}}
   {{#checkIf @config.custom.frontGallery '==' true}}
      {{#is "index"}}
          {{> photoswipe}}
      {{/is}}
   {{/checkIf}}
{{/if}}

{{#if @renderer.previewMode}}
   <script src="{{js "svg-map.js"}}"></script>
   <script src="{{js "svg-fix.js"}}"></script>
{{/if}}
{{{@footerCustomCode}}}
{{{ publiiFooter }}}
</body>
</html>
