<header class="top">
   <div class="top__logo">
      <a class="logo" href="{{@website.url}}">
         {{#if @website.logo}}
         <img src="{{@website.logo}}"alt="{{@website.name}}" width="{{@website.logoSize.width}}" height="{{@website.logoSize.height}}">
         {{else}}
            {{@website.name}}
         {{/if}}
      </a>
   </div>
   
    {{#if @config.custom.searchFeature}}
      <div class="top__search search">
         <div class="search__overlay js-search-overlay">
            <div class="search__overlay-inner">
               {{#checkIf @config.custom.docSearchSupport '!==' true}}
                  <svg class="search__icon" role="presentation" height="17" width="17">
                     <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#search"/>
                  </svg>
               {{/checkIf}}
               {{{@customSearchInput}}}
               <button class="search__close js-search-close" aria-label="Close">{{ translate 'partials.top.close' }}</button>
            </div>
         </div>
         {{#checkIf @config.custom.docSearchSupport '!==' true}}
            <button class="search__trigger js-search-btn" aria-label="Search">
               <span>{{ translate 'partials.top.search' }}</span>
               <svg role="presentation" focusable="false" height="17" width="17">
                  <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#search"/>
               </svg>
            </button>
         {{/checkIf}}
      </div>
   {{/if}}
    
   {{#checkIfAny @config.custom.slackUrl @config.custom.githubUrl}}
      <div class="top__links">
         {{#if @config.custom.slackUrl}}
            <a
               href="{{@config.custom.slackUrl}}"
               class="top__links-url"
               aria-label="{{ translate 'partials.top.Slack' }}"
               title="{{ translate 'partials.top.Slack' }}"
               target="_blank"
               rel="noopener">
               <svg height="24" width="24">
                  <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#slack"></use>
               </svg>
            </a>
         {{/if}}
         {{#if @config.custom.githubUrl}}
            <a
               href="{{@config.custom.githubUrl}}"
               class="top__links-url"
               aria-label="{{ translate 'partials.top.Github' }}"
               title="{{ translate 'partials.top.Github' }}"
               target="_blank"
               rel="noopener">
               <svg height="24" width="24">
                  <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#github"></use>
               </svg>
            </a>
         {{/if}}
      </div>
   {{/checkIfAny}}
    
   {{#if menus.sidebarMenu}}
      <button
         class="navbar__toggle"
         aria-label="{{ translate 'partials.menu.label' }}"
         aria-haspopup="true"
         aria-expanded="false">
         <span class="navbar__toggle-box">
            <span class="navbar__toggle-inner">{{ translate 'partials.menu.label' }}</span>
         </span>
      </button>
   {{/if}}
</header>
